{% extends 'layouts/a.html' %}

{% block content %}

{% for recipe in recipes %}
<article class="card">
    <div class="flex items-center">
        <a href=""><img width="200px" height="200px" src={{recipe.image}}></a>
        <div class="p-4 pb-2">
            <h3 class="text-2xl">{{recipe.title}}</h3>
            <div class="text-sm text-gray-400 truncate">Prep Time: {{recipe.prep_time}} mins, Cook Time: {{recipe.cook_time}} mins</div>
            <p class="">{{recipe.summary}}</p>
        </div>
        <div class="p-4 pb-2">
            <div class="flex items-center gap-2 text-sm mb-5 flex-wrap">
                <a href="" class="bg-gray-200 rounded-full px-3 py-1 hover:bg-gray-800 hover:text-white">Vego</a>
                <a href="" class="bg-gray-200 rounded-full px-3 py-1 hover:bg-gray-800 hover:text-white">Under an hour</a>
            </div>
            <div class="flex items-center justify-between text-sm px-2">
                <div class="flex items-center gap-4 [&>a:hover]:underline">
                    <a href="">Edit</a>
                    <a href="">Delete</a>
                </div>
            </div>
        </div>
    </div>
</article>
{% endfor %}

{% endblock %}